@model IEnumerable<Sway.Models.Opinion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.oName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oSentiment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oPosSentiment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oNegSentiment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phrase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.oName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oSentiment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oPosSentiment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oNegSentiment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phrase.pName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
